<!DOCTYPE html>
<html>
<style>
  input[type=text],
  select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .container {
    width: 400px;
    margin: auto;
  }
</style>

<body>
  <center>
    <h3>EDIT FORM</h3>
  </center>
  <div class="container">
    <form action="/editMovie/<%=data.id%>" method="POST">
      <label for="title">Movie Title:</label>
      <input type="text" name="title" value="<%=data.title%>">

      <label for="duration">Duration:</label>
      <input type="text" name="duration" value="<%=data.duration%>">

      <label for="genre">Genre:</label>
      <select id="genre" name="genre">
        <option value="" hidden><%=data.genre%></option>
        <option value="horror">horror</option>
        <option value="comedy">comedy</option>
        <option value="action">action</option>
        <option value="absurd">absurd</option>
      </select>

      <label for="urlImage">URL Image:</label>
      <input type="text" name="urlImage" value="<%=data.urlImage%>">

      <input type="submit" value="Submit">
    </form>
  </div>

</body>

</html>